/*
	-------- Fonts ----
*/
@font-face {
    font-family: 'gtWalsheimProRegular';
    src: 
    	url('../fonts/GT Walsheim Pro Trial/GT-Walsheim-Regular.otf');
}
@font-face {
    font-family: 'gtWalsheimProMedium';
    src: 
    	url('../fonts/GT Walsheim Pro Trial/GT-Walsheim-Medium.otf');
}
@font-face {
    font-family: 'gtPressuraMonoLight';
    src: 
    	url('../fonts/GT Pressura Mono/GT-Pressura-Mono-Light.otf');
}
.font-myriadPro{
	font-family: 'Myriad Pro';
}
.font-gtWalsheimProRegular{
	font-family: 'gtWalsheimProRegular';
}
.font-gtWalsheimProMedium{
	font-family: 'gtWalsheimProMedium';
}
.font-gtPressuraMonoLight{
	font-family: 'gtPressuraMonoLight';
}
.text-capitalize{
	text-transform: capitalize;
}
/*
	-------- //Fonts ----
*/

/*
	-------- Utilities ----
*/
.color-dark{
	color: rgba(0, 0, 0, 0.999) !important;
}
.color-gray{
	color: rgba(102, 102, 102, 1);
}
.color-white{
	color: white !important;
}
.color-orange{
	color: rgba(230, 130, 30, 0.999);
}
.color-blue{
	color: rgba(0, 255, 255, 1) !important;
}
.color-dark-blue{
	color: rgba(0, 0, 255, 0.999) !important;
}
.font-smallest{
	font-size: 0.65rem !important;
}
.font-smaller{
	font-size: 0.75rem !important;
}
.font-small{
	font-size: 0.95rem !important;
}
.font-light{
	font-weight: 500 !important
}
.font-bold{
	font-weight: 600 !important;
}
.font-bolder{
	font-weight: 800 !important;
}
.font-medium{
	font-size: 1.15rem !important;
}
.font-large{
	font-size: 1.35rem !important;
}
.logo-dark{
	color: black;
}
.left-border{
	border-left: solid 2px rgba(237, 237, 237, 0.999);
}

.max-wd-1600{
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}
.display-block{
	display: block !important;
}
.search-bar-form{
	margin-top: -35px;
	margin-left: 0;
}
.search-bar-form{
	
}
.search-bar-form>div{
	background-color: white;
	z-index: 99;
}
.no-border{
	border: none !important;
}
.uk-form-icon:not(.uk-form-icon-flip)+.uk-input {
    padding-left: 40px;
}
.bg-blue{
	background-color: rgba(0, 255, 255, 1);
}
.bg-dark-blue{
	background-color: rgba(0, 0, 255, 0.999) !important;
}
.bg-white{
	background-color: rgba(255, 255, 255, 1);
}
.bg-dark{
	background-color: rgba(0, 0, 0, 0.999);
}
.bg-light{
	background-color: rgba(214, 214, 214, 1);
}
.bg-img{
	height: 636px;
}
.bg-gray{
	background-color: rgba(102, 102, 102, 0.999);
}
.bg-gray-normal{
	background-color: rgba(230, 230, 230, 1);
}
.bg-gray-light{
	background-color: rgba(245, 245, 245, 0.999);
}
.border-blue{
	border: solid 2px rgba(0, 255, 255, 0.999);
}
.border-dark-blue{
	border: solid 2px rgba(0, 0, 255, 0.999);
}
.border-white{
	border: solid 2px rgba(255, 255, 255, 1);
}
.border-dark{
	border: solid 2px rgba(0, 0, 0, 0.999);
}
.border-light{
	border: solid 2px rgba(214, 214, 214, 0.78);
}
.border-gray{
	border: solid 2px rgba(102, 102, 102, 0.999);
}
.border-gray-light{
	border: solid 2px rgba(245, 245, 245, 0.999);
}
.badges-wrap>span{
	padding: 5px 10px;
}
.badge-medium{
	height: 40px;
	min-width: 40px;
}
@media(max-width: 450px){
	.badge-medium{
		height: 30px !important;
		min-width: 30px !important;
	}
	.uk-width-small{
		width: 84px !important;
	}
}

.no-margin{
	margin: 0 !important;
}
.bg-transparent{
	background-color: transparent !important;
}
.top-margin-fix{
    margin-top: -30px;
}
.logo-standard-height{
	height: 33px;
	width: 175px;
}
/*
	-------- //Utilities ----
*/
/*
	-------- Fixes ----
*/
.wrap{
	margin: 0 auto;
}
.ui-widget.ui-widget-content {
    border: none;
    background: rgba(212, 212, 212, 1);
}
.ui-slider .ui-slider-handle {
	border-radius: 50%;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	background: rgba(0, 0, 255, 1) !important;
}
.ui-slider-horizontal {
    height: 5px !important;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -8px !important;
}

.wd-35{
	width: 35% !important;
}
.wd-30{
	width: 30% !important
}
input.uk-checkbox{
	border: solid 1px black !important;
	margin-right: 10px;
}
.uk-card-with-icon{
	padding: 15px 20px !important;
}
.uk-card-primary.uk-card-body .uk-checkbox:checked, .uk-card-primary>:not([class*=uk-card-media]) .uk-checkbox:checked, .uk-card-secondary.uk-card-body .uk-checkbox:checked, .uk-card-secondary>:not([class*=uk-card-media]) .uk-checkbox:checked, .uk-light .uk-checkbox:checked, .uk-offcanvas-bar .uk-checkbox:checked, .uk-overlay-primary .uk-checkbox:checked, .uk-section-primary:not(.uk-preserve-color) .uk-checkbox:checked, .uk-section-secondary:not(.uk-preserve-color) .uk-checkbox:checked, .uk-tile-primary:not(.uk-preserve-color) .uk-checkbox:checked, .uk-tile-secondary:not(.uk-preserve-color) .uk-checkbox:checked {
	background-color: rgba(0, 0, 255, 1) !important;
	border: solid 1px rgba(0, 0, 255, 1) !important;
	background-image: none !important;
}
.uk-checkbox:checked {
	background-color: rgba(0, 0, 255, 1) !important;
	border: solid 1px rgba(0, 0, 255, 1) !important;
	background-image: none !important;
}
/*
	//Input range 
*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgba(0, 0, 0, 0.999) !important;
}
::-moz-placeholder { /* Firefox 19+ */
	color: rgba(0, 0, 0, 0.999) !important;
}
:-ms-input-placeholder { /* IE 10+ */
	color: rgba(0, 0, 0, 0.999) !important;
}
:-moz-placeholder { /* Firefox 18- */
	color: rgba(0, 0, 0, 0.999) !important;
}
.chevron-down {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0MC44MTEgMjQwLjgxMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQwLjgxMSAyNDAuODExOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggaWQ9IkV4cGFuZF9Nb3JlIiBkPSJNMjIwLjA4OCw1Ny42NjdsLTk5LjY3MSw5OS42OTVMMjAuNzQ2LDU3LjY1NWMtNC43NTItNC43NTItMTIuNDM5LTQuNzUyLTE3LjE5MSwwYy00Ljc0LDQuNzUyLTQuNzQsMTIuNDUxLDAsMTcuMjAzbDEwOC4yNjEsMTA4LjI5N2wwLDBsMCwwYzQuNzQsNC43NTIsMTIuNDM5LDQuNzUyLDE3LjE3OSwwTDIzNy4yNTYsNzQuODU5YzQuNzQtNC43NTIsNC43NC0xMi40NjMsMC0xNy4yMTVDMjMyLjUyOCw1Mi45MTUsMjI0LjgyOCw1Mi45MTUsMjIwLjA4OCw1Ny42Njd6Ii8+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjwvc3ZnPg==);
}
.uk-select:not([multiple]):not([size]) {
	background-image: 
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0MC44MTEgMjQwLjgxMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQwLjgxMSAyNDAuODExOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggaWQ9IkV4cGFuZF9Nb3JlIiBkPSJNMjIwLjA4OCw1Ny42NjdsLTk5LjY3MSw5OS42OTVMMjAuNzQ2LDU3LjY1NWMtNC43NTItNC43NTItMTIuNDM5LTQuNzUyLTE3LjE5MSwwYy00Ljc0LDQuNzUyLTQuNzQsMTIuNDUxLDAsMTcuMjAzbDEwOC4yNjEsMTA4LjI5N2wwLDBsMCwwYzQuNzQsNC43NTIsMTIuNDM5LDQuNzUyLDE3LjE3OSwwTDIzNy4yNTYsNzQuODU5YzQuNzQtNC43NTIsNC43NC0xMi40NjMsMC0xNy4yMTVDMjMyLjUyOCw1Mi45MTUsMjI0LjgyOCw1Mi45MTUsMjIwLjA4OCw1Ny42Njd6Ii8+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjwvc3ZnPg==) !important;
	background-size: 12px 12px !important;
	background-position: 98% !important;
}
button.search-btn{
	width: 100%;
}

.icons-wrap-position{
	position: relative;
}
.icons-wrap-position-fix{
	position: absolute;
	left: -12%;
	top: 50px;
}
.uk-offcanvas-bar-light{
	background: white !important;
}

.uk-tab::before {
    border-bottom: 3px solid #e5e5e5;
}
.uk-tab>*>a {
	border-bottom: 3px solid transparent;
}
.uk-tab>.uk-active>a {
    border-color: rgba(230, 130, 30, 1);
}

/*
	-------- //Fixes ----
*/

/*
	-------- Index page header ----
*/
@media(max-width: 1060px){
	.icons-wrap-position-fix{
		left: -8%;
	}
}
@media(max-width: 799px){
	div.jumbotron{
		margin-top: 3%;
	}
	div.jumbotron p{
		font-size: 1.2em;
	}
}
@media(min-width: 800px){
	div.jumbotron{
		margin-top: 8%;
	}
	div.jumbotron p{
		font-size: 1.5em;
	}
}
/*
	-------- //Index page header ----
*/
/*
	-------- Body ----
*/
.icon-grid .border-white{
	border: solid 1px white;
}
.icon-grid .border-white:hover{
	background-color: white;
	transition: background-color ease-in 0.2s;
}
.icon-grid h2,
.icon-grid h4{
	margin-top: 10px;
}
.action-btn{
	display: inline-block;
	max-width: 300px;
	width: auto !important;
	border: solid 2px white;
}
.hr-short{
    padding-bottom: 5px;
    background-color: rgba(230, 130, 30, 1);
    width: 15% !important;
    margin: 0 auto;
    display: inline-block;
    -webkit-flex: none !important;
    flex: none !important;
}
.padding-fix{
	padding: 10px 0;
}
.icons-wrap .icon-grid img{
	height: 80px;
	width: 80px;
}
form.subscribe-form input[type=text]{
	min-width: 70%;
	padding-right: 0;
	margin-right: -5px;
}
.footer-links p a{
	padding: 0 5px;
}
.footer-social-icons p a{
	padding: 0 5px;
}
/*
	-------- Flat forms ----
*/
.white-border-bottom{
	border-bottom: solid 4px white !important;
}
.light-gray-border-bottom{
	border-bottom: solid 4px rgba(230, 230, 230, 1) !important;
}
.dark-blue-border-bottom{
	border-bottom: solid 4px rgba(0, 0, 255, 0.999) !important;
}
.flat-form-elem input,
.flat-form-elem select{
	background-color: transparent !important;
	border: none;
}
.flat-form-elem label{
	height: 40px; 
	line-height: 38px;
	margin-top: 0 !important;
}
.flat-form-elem select{
	text-align-last: end !important;
	padding-right: 40px !important;
}
.list-content .list-meta span{
	padding: 5px;
}
.btn-group button:hover{
	background-color: white;
	border: solid 2px white;
}

/*
	-------- Added later ----
*/


.uk-list-divider-white>li:nth-child(n+2) {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 3px solid #fff;
}
.hr-short-new {
    padding-bottom: 2px;
    background-color: rgba(230, 130, 30, 1);
    width: 8% !important;
    margin: 20px auto;
    display: inline-block;
    -webkit-flex: none !important;
    flex: none !important;
}
.hr-center{
	display: block !important;
}

.uk-card-round {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -40px;
}

.uk-table-frappedev :not(:last-child)>td {
    border-bottom: 3px solid #fff;
}

.uk-table-frappedev tr:first-child > th {
    border-bottom: none;
}

.uk-table-frappedev td {
  font-family: 'gtPressuraMonoLight';
  font-weight: 600;
  color: black;
  text-align: center;
}

.uk-table-frappedev tr td:first-child {
  font-family: 'gtWalsheimProRegular';
  font-weight: bold;
  color: black;
  padding-left: 0px;
  text-align: left;
}

.uk-table-frappedev tr th:first-child {
  font-family: 'gtWalsheimProRegular';
  font-weight: bold;
  color: black;
  padding-left: 0px;
  text-align: left;
}

.uk-card-no-shadow {
  box-shadow: none;
}

.uk-card-body-new {
  padding: 20px 40px;
}

/*
	-------- Sub styles ----
*/

.uk-list-divider-white>li:nth-child(n+2) {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 3px solid #fff;
}
.hr-short-new {
    padding-bottom: 2px;
    background-color: rgba(230, 130, 30, 1);
    width: 8% !important;
    margin: 20px auto;
    display: inline-block;
    -webkit-flex: none !important;
    flex: none !important;
}

.uk-card-round {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -40px;
}

.uk-table-frappedev tr td:first-child {
  text-align: left;
  font-weight: bold;
}